<a href="https://colab.research.google.com/github/KumudaBG/Deep-Learning-Assignment5/blob/main/partD_XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import NYC data from Kaggle

In [ ]:
import json
kaggle_json = {"username":"kumudabg","key":"1134be2d95490124194bf94fac598ce7"}

In [ ]:
import io,os
os.makedirs('/content/.kaggle/',exist_ok=True)

In [ ]:
os.makedirs('/root/.kaggle/',exist_ok=True)

In [ ]:
with open('/content/.kaggle/kaggle.json', 'w') as file:
  json.dump(kaggle_json, file)

In [ ]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [ ]:
! kaggle competitions download -c new-york-city-taxi-fare-prediction

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.csv to /content
  0% 0.00/960k [00:00<?, ?B/s]
100% 960k/960k [00:00<00:00, 65.7MB/s]
Downloading GCP-Coupons-Instructions.rtf to /content
  0% 0.00/486 [00:00<?, ?B/s]
100% 486/486 [00:00<00:00, 448kB/s]
Downloading train.csv.zip to /content
100% 1.55G/1.56G [00:19<00:00, 57.2MB/s]
100% 1.56G/1.56G [00:19<00:00, 84.8MB/s]
Downloading sample_submission.csv to /content
  0% 0.00/335k [00:00<?, ?B/s]
100% 335k/335k [00:00<00:00, 78.5MB/s]

In [ ]:
! mkdir train
! unzip train.csv.zip -d train

mkdir: cannot create directory ‘train’: File exists
Archive:  train.csv.zip
  inflating: train/train.csv

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

plt.style.use('seaborn-whitegrid')

import warnings
warnings.filterwarnings('ignore')

In [ ]:
train=pd.read_csv('/content/train/train.csv',nrows=20000)
train.head()
print("shape of NYC data", train.shape)

shape of NYC data (20000, 8)

In [ ]:
train.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [ ]:
train.describe()

        fare_amount  pickup_longitude  ...  dropoff_latitude  passenger_count
count  20000.000000      20000.000000  ...      20000.000000     20000.000000
mean      11.303321        -72.478584  ...         39.913606         1.658000
std        9.541637         10.525376  ...          6.139231         1.283674
min       -3.000000        -74.438233  ...        -74.006377         0.000000
25%        6.000000        -73.992150  ...         40.734537         1.000000
50%        8.500000        -73.981711  ...         40.753583         1.000000
75%       12.500000        -73.966802  ...         40.768135         2.000000
max      180.000000         40.766125  ...         41.366138         6.000000

[8 rows x 6 columns]

In [ ]:
print("old size: %d" % len(train))
train = train[train.fare_amount >=0]
print("New size: %d" % len(train))

old size: 20000
New size: 19997

In [ ]:
# check missing data
train.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [ ]:
print("old size: %d" % len(train))
train = train.dropna(how='any', axis=0)
print("New size after dropping missing value: %d" % len(train))

old size: 19997
New size after dropping missing value: 19997

In [ ]:
train[train.fare_amount >100 ].shape

(5, 8)

In [ ]:
# checking for records where passanger count is 0
train[train.passenger_count ==0].shape

(75, 8)

In [ ]:
# this function will also be used with the test set below
def select_within_test_boundary(df, BB):
    return (df.pickup_longitude >= BB[0]) & (df.pickup_longitude <= BB[1]) & \
           (df.pickup_latitude >= BB[2]) & (df.pickup_latitude <= BB[3]) & \
           (df.dropoff_longitude >= BB[0]) & (df.dropoff_longitude <= BB[1]) & \
           (df.dropoff_latitude >= BB[2]) & (df.dropoff_latitude <= BB[3])

In [ ]:
BB = (-74.5, -72.8, 40.5, 41.8)
print('Old size: %d' % len(train))
train = train[select_within_test_boundary(train, BB)]
print('New size: %d' % len(train))

Old size: 19997
New size: 19572

In [ ]:
def prepare_time_features(df):
    df['pickup_datetime'] = df['pickup_datetime'].str.slice(0, 16)
    df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], utc=True, format='%Y-%m-%d %H:%M')
    df['hour_of_day'] = df.pickup_datetime.dt.hour
#     df['week'] = df.pickup_datetime.dt.week
    df['month'] = df.pickup_datetime.dt.month
    df["year"] = df.pickup_datetime.dt.year
#     df['day_of_year'] = df.pickup_datetime.dt.dayofyear
#     df['week_of_year'] = df.pickup_datetime.dt.weekofyear
    df["weekday"] = df.pickup_datetime.dt.weekday
#     df["quarter"] = df.pickup_datetime.dt.quarter
#     df["day_of_month"] = df.pickup_datetime.dt.day
    
    return df

In [ ]:
train = prepare_time_features(train)

In [ ]:
def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295 # Pi/180
    a = 0.5 - np.cos((lat2 - lat1) * p)/2 + np.cos(lat1 * p) * np.cos(lat2 * p) * (1 - np.cos((lon2 - lon1) * p)) / 2
    return 0.6213712 * 12742 * np.arcsin(np.sqrt(a))

In [ ]:
train['distance_miles'] = distance(train.pickup_latitude, train.pickup_longitude, \
                                      train.dropoff_latitude, train.dropoff_longitude)

In [ ]:
def transform(data):
    # Distances to nearby airports, 
    jfk = (-73.7781, 40.6413)
    ewr = (-74.1745, 40.6895)
    lgr = (-73.8740, 40.7769)

    data['pickup_distance_to_jfk'] = distance(jfk[1], jfk[0],
                                         data['pickup_latitude'], data['pickup_longitude'])
    data['dropoff_distance_to_jfk'] = distance(jfk[1], jfk[0],
                                           data['dropoff_latitude'], data['dropoff_longitude'])
    data['pickup_distance_to_ewr'] = distance(ewr[1], ewr[0], 
                                          data['pickup_latitude'], data['pickup_longitude'])
    data['dropoff_distance_to_ewr'] = distance(ewr[1], ewr[0],
                                           data['dropoff_latitude'], data['dropoff_longitude'])
    data['pickup_distance_to_lgr'] = distance(lgr[1], lgr[0],
                                          data['pickup_latitude'], data['pickup_longitude'])
    data['dropoff_distance_to_lgr'] = distance(lgr[1], lgr[0],
                                           data['dropoff_latitude'], data['dropoff_longitude'])
    
    return data

train = transform(train)

In [ ]:
print("old size: %d" % len(train))
train = train.drop(index= train[(train['distance_miles']==0)&(train['fare_amount']==0)].index, axis=0)
print("New size: %d" % len(train))

old size: 19572
New size: 19572

In [ ]:
print("old size: %d" % len(train))
train = train.drop(index= train[train['fare_amount']==0].index, axis=0)
print("New size: %d" % len(train))

old size: 19572
New size: 19571

In [ ]:
print("old size: %d" % len(train))
train = train.drop(index= train[train['fare_amount'] < 2.5].index, axis=0)
print("New size: %d" % len(train))

old size: 19571
New size: 19570

In [ ]:
print("old size: %d" % len(train))
train = train.drop(index= train[train.passenger_count >= 7].index, axis=0)
print("New size: %d" % len(train))

old size: 19570
New size: 19570

In [ ]:
# create copy of the data set
df_train = train.drop(columns= ['key','pickup_datetime'], axis= 1).copy()
print(df_train.shape)

(19570, 17)

In [ ]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(df_train.drop('fare_amount', axis=1),
                                                    df_train['fare_amount'], test_size=0.2, random_state = 42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(15656, 16)
(3914, 16)
(15656,)
(3914,)

In [ ]:
import xgboost as xgb

In [ ]:
params = {
   
    'max_depth': 7,
    'gamma' :0,
    'eta':.03, 
    'subsample': 1,
    'colsample_bytree': 0.9, 
    'objective':'reg:linear',
    'eval_metric':'rmse',
    'silent': 0
}

In [ ]:
def XGBmodel(X_train,X_test,y_train,y_test,params):
    matrix_train = xgb.DMatrix(X_train,label=y_train)
    matrix_test = xgb.DMatrix(X_test,label=y_test)
    model=xgb.train(params=params,
                    dtrain=matrix_train,num_boost_round=5000, 
                    early_stopping_rounds=10,evals=[(matrix_test,'test')])
    return model

model = XGBmodel(X_train,X_test,y_train,y_test,params)

[04:29:24] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	test-rmse:14.0227
Will train until test-rmse hasn't improved in 10 rounds.
[1]	test-rmse:13.6469
[2]	test-rmse:13.3014
[3]	test-rmse:12.9481
[4]	test-rmse:12.607
[5]	test-rmse:12.2774
[6]	test-rmse:11.9579
[7]	test-rmse:11.6489
[8]	test-rmse:11.3471
[9]	test-rmse:11.0587
[10]	test-rmse:10.7921
[11]	test-rmse:10.5208
[12]	test-rmse:10.2578
[13]	test-rmse:10.003
[14]	test-rmse:9.75694
[15]	test-rmse:9.51678
[16]	test-rmse:9.28943
[17]	test-rmse:9.06845
[18]	test-rmse:8.85512
[19]	test-rmse:8.64909
[20]	test-rmse:8.44952
[21]	test-rmse:8.25781
[22]	test-rmse:8.08628
[23]	test-rmse:7.91123
[24]	test-rmse:7.74129
[25]	test-rmse:7.57871
[26]	test-rmse:7.41894
[27]	test-rmse:7.26642
[28]	test-rmse:7.11756
[29]	test-rmse:6.97602
[30]	test-rmse:6.83867
[31]	test-rmse:6.70873
[32]	test-rmse:6.58341
[33]	test-rmse:6.46209
[34]	test-rmse:6.3491
[35]	test-rmse:6.23876
[36]	test-rmse:6.13275
[37]	test-rmse:6.03137
[38]	test-rmse:5.93529
[39]	test-rmse:5.84126
[40]	test-rmse:5.75336
[41]	test-rmse:5.66856
[42]	test-rmse:5.58659
[43]	test-rmse:5.51076
[44]	test-rmse:5.43435
[45]	test-rmse:5.36335
[46]	test-rmse:5.29916
[47]	test-rmse:5.2349
[48]	test-rmse:5.17155
[49]	test-rmse:5.11386
[50]	test-rmse:5.055
[51]	test-rmse:5.00222
[52]	test-rmse:4.94723
[53]	test-rmse:4.89856
[54]	test-rmse:4.85021
[55]	test-rmse:4.80525
[56]	test-rmse:4.76179
[57]	test-rmse:4.72053
[58]	test-rmse:4.67912
[59]	test-rmse:4.64051
[60]	test-rmse:4.60525
[61]	test-rmse:4.57139
[62]	test-rmse:4.54053
[63]	test-rmse:4.51042
[64]	test-rmse:4.4812
[65]	test-rmse:4.45313
[66]	test-rmse:4.42674
[67]	test-rmse:4.40193
[68]	test-rmse:4.37758
[69]	test-rmse:4.35453
[70]	test-rmse:4.33178
[71]	test-rmse:4.31035
[72]	test-rmse:4.29172
[73]	test-rmse:4.27319
[74]	test-rmse:4.25536
[75]	test-rmse:4.23825
[76]	test-rmse:4.22323
[77]	test-rmse:4.207
[78]	test-rmse:4.19228
[79]	test-rmse:4.17767
[80]	test-rmse:4.16575
[81]	test-rmse:4.15409
[82]	test-rmse:4.14128
[83]	test-rmse:4.12899
[84]	test-rmse:4.11726
[85]	test-rmse:4.10739
[86]	test-rmse:4.09692
[87]	test-rmse:4.0885
[88]	test-rmse:4.07919
[89]	test-rmse:4.07438
[90]	test-rmse:4.06798
[91]	test-rmse:4.05793
[92]	test-rmse:4.05103
[93]	test-rmse:4.04397
[94]	test-rmse:4.03652
[95]	test-rmse:4.03012
[96]	test-rmse:4.02579
[97]	test-rmse:4.02098
[98]	test-rmse:4.01647
[99]	test-rmse:4.01263
[100]	test-rmse:4.0053
[101]	test-rmse:4.00083
[102]	test-rmse:3.99688
[103]	test-rmse:3.99394
[104]	test-rmse:3.99035
[105]	test-rmse:3.98787
[106]	test-rmse:3.98649
[107]	test-rmse:3.98283
[108]	test-rmse:3.98261
[109]	test-rmse:3.97952
[110]	test-rmse:3.97947
[111]	test-rmse:3.97603
[112]	test-rmse:3.97702
[113]	test-rmse:3.977
[114]	test-rmse:3.97519
[115]	test-rmse:3.97293
[116]	test-rmse:3.97104
[117]	test-rmse:3.97141
[118]	test-rmse:3.97095
[119]	test-rmse:3.9716
[120]	test-rmse:3.96926
[121]	test-rmse:3.97013
[122]	test-rmse:3.96986
[123]	test-rmse:3.96849
[124]	test-rmse:3.96717
[125]	test-rmse:3.96587
[126]	test-rmse:3.96461
[127]	test-rmse:3.96348
[128]	test-rmse:3.9636
[129]	test-rmse:3.96351
[130]	test-rmse:3.96237
[131]	test-rmse:3.96199
[132]	test-rmse:3.96054
[133]	test-rmse:3.95882
[134]	test-rmse:3.96052
[135]	test-rmse:3.96049
[136]	test-rmse:3.9591
[137]	test-rmse:3.95845
[138]	test-rmse:3.9573
[139]	test-rmse:3.95762
[140]	test-rmse:3.95704
[141]	test-rmse:3.95891
[142]	test-rmse:3.95508
[143]	test-rmse:3.9538
[144]	test-rmse:3.95173
[145]	test-rmse:3.95194
[146]	test-rmse:3.95176
[147]	test-rmse:3.95058
[148]	test-rmse:3.94923
[149]	test-rmse:3.94778
[150]	test-rmse:3.94627
[151]	test-rmse:3.94397
[152]	test-rmse:3.94165
[153]	test-rmse:3.94131
[154]	test-rmse:3.94068
[155]	test-rmse:3.93987
[156]	test-rmse:3.93887
[157]	test-rmse:3.93805
[158]	test-rmse:3.93616
[159]	test-rmse:3.93668
[160]	test-rmse:3.93659
[161]	test-rmse:3.93595
[162]	test-rmse:3.93523
[163]	test-rmse:3.93411
[164]	test-rmse:3.93388
[165]	test-rmse:3.93359
[166]	test-rmse:3.93255
[167]	test-rmse:3.93376
[168]	test-rmse:3.93304
[169]	test-rmse:3.9326
[170]	test-rmse:3.93011
[171]	test-rmse:3.92869
[172]	test-rmse:3.92878
[173]	test-rmse:3.92772
[174]	test-rmse:3.92592
[175]	test-rmse:3.92552
[176]	test-rmse:3.92622
[177]	test-rmse:3.92672
[178]	test-rmse:3.92715
[179]	test-rmse:3.92515
[180]	test-rmse:3.92348
[181]	test-rmse:3.92224
[182]	test-rmse:3.92208
[183]	test-rmse:3.92323
[184]	test-rmse:3.92233
[185]	test-rmse:3.92185
[186]	test-rmse:3.923
[187]	test-rmse:3.92113
[188]	test-rmse:3.92252
[189]	test-rmse:3.92179
[190]	test-rmse:3.92083
[191]	test-rmse:3.92026
[192]	test-rmse:3.91955
[193]	test-rmse:3.9192
[194]	test-rmse:3.91722
[195]	test-rmse:3.91651
[196]	test-rmse:3.91497
[197]	test-rmse:3.91503
[198]	test-rmse:3.91424
[199]	test-rmse:3.91398
[200]	test-rmse:3.91371
[201]	test-rmse:3.9133
[202]	test-rmse:3.91305
[203]	test-rmse:3.91242
[204]	test-rmse:3.91241
[205]	test-rmse:3.91179
[206]	test-rmse:3.91163
[207]	test-rmse:3.91158
[208]	test-rmse:3.91082
[209]	test-rmse:3.91122
[210]	test-rmse:3.91201
[211]	test-rmse:3.9121
[212]	test-rmse:3.91142
[213]	test-rmse:3.91041
[214]	test-rmse:3.91022
[215]	test-rmse:3.90879
[216]	test-rmse:3.90954
[217]	test-rmse:3.90963
[218]	test-rmse:3.90954
[219]	test-rmse:3.90964
[220]	test-rmse:3.90903
[221]	test-rmse:3.90904
[222]	test-rmse:3.90896
[223]	test-rmse:3.90893
[224]	test-rmse:3.90928
[225]	test-rmse:3.90853
[226]	test-rmse:3.90932
[227]	test-rmse:3.90928
[228]	test-rmse:3.9089
[229]	test-rmse:3.90883
[230]	test-rmse:3.9086
[231]	test-rmse:3.91035
[232]	test-rmse:3.91178
[233]	test-rmse:3.91126
[234]	test-rmse:3.91072
[235]	test-rmse:3.9103
Stopping. Best iteration:
[225]	test-rmse:3.90853